{:kotoba.app/id "cloud.itonami.isic-2819", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreic4e2555gfhu4qikwo4dnbrm7cehqihu7l5kfwfusghqaskmdu5ea", :kotoba.app/embed-url "ipfs://bafkreic4e2555gfhu4qikwo4dnbrm7cehqihu7l5kfwfusghqaskmdu5ea", :published {:archive "https://kotobase.net/ipfs/bafkreic4e2555gfhu4qikwo4dnbrm7cehqihu7l5kfwfusghqaskmdu5ea", :size 72870, :put-status 201, :get-status 200, :at "2026-08-15T13:38:38.942Z"}}
